@property --borderWidth {
    syntax: '<length>';
    initial-value: 1px;
    inherits: false;
}

.leftDrawer,
.rightDrawer,
.bottomDrawer,
.corner {
    position: fixed;
    background-color: oklch(from var(--background) l c h / 0.35);
    backdrop-filter: blur(3px);
    transition: var(--transition);
    z-index: 1;
}

.leftDrawer,
.rightDrawer {
    bottom: 0;
    top: 0;
    height: 100svh;
    min-width: var(--minWidth);
}

.leftDrawer::after,
.rightDrawer::before {
    content: '';
    position: absolute;
    top: 0;
    width: var(--borderWidth);
    height: calc(100svh - var(--borderOffset));
    background-color: var(--border);
    transition: var(--transition);
}

.leftDrawer {
    left: var(--left);

    &::after {
        right: calc(-1 * var(--borderWidth));
    }
}

.rightDrawer {
    right: var(--right);

    &::before {
        left: calc(-1 * var(--borderWidth));
    }
}

.bottomDrawer,
.corner {
    bottom: var(--bottom);

    >path {
        fill: var(--border);
    }
}

.bottomDrawer {
    display: flex;
    left: var(--left);
    right: var(--right);
    justify-content: center;
    align-items: start;
    flex-direction: column;

    >div {
        width: 100%;
    }

    >.collapseBar {
        margin: 10px auto;
        height: 5px;
        width: 40px;
        background-color: var(--border);
        border-radius: 2.5px;
    }

    &::before {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: var(--leftSvgSize);
        right: var(--rightSvgSize);
        height: var(--borderWidth);
        background-color: var(--border);
    }
}

.overlay {
    position: fixed;
    left: calc(var(--left) + var(--borderLeftWidth));
    bottom: calc(var(--bottom) + var(--borderBottomWidth));
    top: 0;
    right: calc(var(--right) + var(--borderRightWidth));
    background-color: var(--bgColor);
    transition: var(--transition);
    border-radius: 0 0 var(--borderRightRadius) var(--borderLeftRadius);
    pointer-events: var(--pEvents);
    z-index: 1;
}