.leftDrawer,
.rightDrawer,
.bottomDrawer {
    position: fixed;
    background-color: oklch(from var(--background) l c h / 0.35);
    backdrop-filter: blur(3px);
    transition: var(--transition);
    z-index: 1;
}

.leftDrawer,
.rightDrawer {
    bottom: 0;
    top: 0;
    height: 100svh;
    width: fit-content;
    min-width: var(--minWidth);
}

.leftDrawer {
    left: var(--left);
}

.rightDrawer {
    right: var(--right);
}

.bottomDrawer {
    display: flex;
    left: var(--left);
    right: var(--right);
    bottom: var(--bottom);
    justify-content: center;
    align-items: start;
    flex-direction: column;

    >div {
        width: 100%;
    }

    >.collapseBar {
        margin: 10px auto;
        height: 5px;
        width: 40px;
        background-color: var(--border);
        border-radius: 2.5px;
    }
}

.overlay {
    position: fixed;
    left: var(--left);
    bottom: var(--bottom);
    top: 0;
    right: var(--right);
    background-color: var(--bgColor);
    transition: var(--transition);
    border-radius: 0 0 var(--borderRightRadius) var(--borderLeftRadius);
    pointer-events: var(--pEvents);
    z-index: 1;
    border-top: 0;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
}